{% extends 'catalog/base.html' %}
{% load blog_custom_tags %}
{% block content %}

<div class="d-flex justify-content-center flex-column align-items-center">
    <a href="{% url 'blog:blog' %}" class="btn confirm-update btn-spacing"> << Опубликованные </a>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12" >
                <h1 style="text-align: center;">Неопубликованные записи</h1>
            </div>
        </div>
    </div>
    {% for object in object_list %}
    {% include 'blog/includes/blog_entry.html' %}
    {% endfor %}
</div>

{% endblock %}