{% extends 'catalog/base.html' %}
{% block content %}
<div class="center-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="mb-3 d-flex justify-content-center"></div>

                {% if messages %}
                <div id="messages">
                    {% for message in messages %}
                    <div class="alert
                        {% if message.tags == 'success' %}alert-success
                        {% elif message.tags == 'error' %}alert-danger
                        {% else %}alert-info{% endif %} text-center" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                <form method="post" action="" class="text-center">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Введите ваш e-mail</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="email"
                               placeholder="example@example.com" style="text-align: center;"
                               value="{{ request.POST.email }}">
                    </div>
                    <div class="btn-group mt-3" role="group">
                        <button type="submit" class="btn confirm-button confirm-primary">
                            Сгенерировать<br>пароль
                        </button>
                        <a href="{% url 'users:login' %}" class="btn confirm-button confirm-update">Назад</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}